<!-- TODO: Add ng2 specific directives/validation settings and add styling -->
<div class="row">
  <form #f="ngForm" (ngSubmit)="doRegister(f)" class="columns">
    <div>
      First name:
      <div>
        <input pattern=".{2,}" placeholder="First name" type="text" name="firstname" required #firstname="ngModel" ngModel/>
        <div [hidden]="firstname.valid || firstname.pristine">Please specify your first name.</div>
      </div>
    </div>
    <div>
      Last name:
      <div>
        <input pattern=".{2,}" placeholder="Last name" type="text" name="lastname" required #lastname="ngModel" ngModel/>
        <div [hidden]="lastname.valid || firstname.pristine">Please specify your last name.</div>
      </div>
    </div>
    <div>
      User name:
      <div>
        <input pattern=".{3,}" placeholder="User" type="text" name="login" required #username="ngModel" ngModel/>
        <div [hidden]="username.valid || firstname.pristine">Please specify your login, at least three characters.</div>
      </div>
    </div>
    <div>
      Password:
      <div>
        <input pattern=".{3,}" #password placeholder="Password" type="password" name="password" required #password="ngModel" ngModel/>
        <div [hidden]="password.valid || firstname.pristine">Please specify your password, at least three characters.</div>
      </div>
    </div>
    <div>
      Confirm Password:
      <div>
        <input pattern=".{3,}" [appEqual]="password.value" placeholder="Password" type="password" name="passwordConfirm" required #cpassword="ngModel" ngModel/>
        <div [hidden]="cpassword.valid || firstname.pristine">Please confirm your password.</div>
      </div>
    </div>
    <button type="submit" class="button">Register</button>
  </form>
</div>

