<div class="row">
  <h4>Letzte Bewegungen</h4>
</div>

<div class="row">
  <table class="hover">
    <thead>
    <tr>
      <th>Von</th>
      <th>Zu</th>
      <th>Betrag</th>
      <th>Kontostand neu</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let t of lastTransactions">
      <td>{{t.from}}</td>
      <td>{{t.target}}</td>
      <td>{{t.amount | currencydisplay }}</td>
      <td>{{t.total | currencydisplay}}</td>
    </tr>

    </tbody>
  </table>
</div>

<div class="row text-right">
  <a class="button" [routerLink]="['transactions']" [routerLinkActive]="['active']" >Alle anzeigen</a>
</div>
