<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Finance Portal</li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li  class="nav-link">
        <a [routerLink]="['/welcome']" [routerLinkActiveOptions]="{exact:true}" [routerLinkActive]="['active']" >login</a>
      </li>
      <li  class="nav-link">
        <a [routerLink]="['register']" [routerLinkActive]="['active']" >Register</a>
      </li>

    </ul>
  </div>
</div>

