<div class="row">
  <h4>Neue Bewegungen</h4>
</div>

<form *ngIf="!paymentDone" (ngSubmit)="pay(payForm)" #payForm="ngForm">
  <div class="row">
    <div class="small-1 columns">
      <label for="fromAccount" class="text-left middle">Von</label>
    </div>
    <div class="small-11 columns">
      <input type="text" id="fromAccount" placeholder="From account"
             reaonly disabled
             value="{{myAccount?.accountNr}} [{{myAccount?.amount | currencydisplay}}]">
    </div>
  </div>

  <div class="row">
    <div class="small-1 columns">
      <label for="toAccount" class="text-left middle">Zu</label>
    </div>
    <div class="small-11 columns">
      <input type="number" class="form-control" id="toAccount"
             placeholder="To account"
             [(ngModel)]="toAccount" name="toAccount" required
             (ngModelChange)="onTargetAccountChange()"
             #toAccountValidation="ngModel">
      <div [hidden]="(toAccountValidation.valid || toAccountValidation.pristine)" class="error">
        Please specify the target account
      </div>
      <div [hidden]="!toAccountValidation.valid" class="error">
        <span *ngIf="targetAccount">{{targetAccount.fullname}}</span>
        <span *ngIf="targetAccount == null">Unknown account number</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-1 columns">
      <label for="amount" class="text-left middle">Betrag</label>
    </div>
    <div class="small-11 columns">
      <div class="input-group">
        <input class="input-group-field" id="amount" type="number"
               placeholder="Betrag" [(ngModel)]="amount" name="amount" required
               #amountValidation="ngModel">
        <span class="input-group-label">$</span>
      </div>
    </div>
    <div [hidden]="amountValidation.valid|| amountValidation.pristine" class="error">
      Please specify the amount
    </div>
  </div>

  <div class="row text-right">
    <button type="submit" class="primary button"
            [disabled]="!payForm.form.valid || !targetAccount">Überweisen
    </button>
  </div>

</form>

<div *ngIf="paymentDone">
  <div>Transaction to {{targetAccount?.accountNr}} succeeded</div>
  <div>New balance <span>{{myAccount.amount | currencydisplay}}</span>  </div>

  <button class="primary button" (click)="reset()">Start over</button>
</div>
